
.underline {
    text-decoration: underline;
}

.sizeUp {
    font-size: 16px;
    padding-bottom: 8px;
}

ul.text-center{
    list-style-type: none;
    padding-left: 0px;
    padding-right: 0px;
}

#temp {
    color: black;
}

.btn{
    background-color: white !important;
    color: black !important;
    border-style: none !important;
    white-space: normal !important;
    outline: none !important;
    box-shadow: 5px 5px 10px #aaa !important;
    padding-bottom: 0px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.button-text:hover {
    color: #34527d !important;
}

.btn, .btn:hover, .btn.active:active {
    background-color: white !important;
    border-style: 0 !important;
    outline: 1px !important;
    box-shadow: 3px 3px 6px #aaa !important;
}

 .btn:focus, .btn:hover {
    background-color: white !important;
    border-style: 0 !important;
    outline: 1px !important;
    box-shadow:  4px 4px 10px #aaa inset !important; 
}

.button-subtext {
    margin-bottom: 3px;
}

.glyphicon-chevron-down {
    margin-bottom: 5px;
}


#intro {
    padding-top: 200px;
    padding-bottom: 30px;
    color: white;
    position: relative;
    background: url(../files/particles.gif);
    background-repeat: repeat-x;
    height: 40%;
    width: 100%;
    display: table;
    
}

#introText {
    text-align: center;
    vertical-align: middle;
    color: #fff;
    display: table-cell;
    padding-bottom: 100px;
}

.filler {
    margin-top: 30px;
}