
body {
	color: #666666;
    background-color: #00569f;
	font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/ptrbackground.jpg);
    background-repeat: repeat-x;
}

nav
{
    width: 190px;
	grid-area: menu;
	background-color: #90c8e3;
	font-size: 1.2em;
}

nav ul {
	font-size: 1.2em;
    float: left;
    width: auto;
    margin: auto;
    margin-left: -20px;
    padding-top: 20px;
    list-style: none;
}

nav li
{
    font-weight: bold;
}

nav a
{
    text-decoration: none;
    color: #200f34;
}

nav a:visited {
	color: #344873;
}
nav a:hover {
	color: #FFFFFF;
}

h1 {
    margin-top: 0;
	margin-bottom: 0;
	padding: 10px;
    color: white;
    background-image: url(../images/sunset.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #000034;
}

h2 {
	color: #3399CC;
}

header {
	grid-area: header;
	background-image: url(../images/sunset.jpg);
	background-repeat: no-repeat;
	background-position: right;
	background-color: #000034;

}

h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}


dt {
	color: #000033;
}

footer {
    grid-area: footer;
	font-family: Georgia, "Times New Roman", serif;
    font-style: italic;
    font-size: 80%;
    padding-bottom: 20px;
    padding-left: 20px;
}

img
{
    float: left;
    padding-right: 20px;
}


#contact {
	font-size: 90%;
}


/* Used W3 grid layout: https://www.w3schools.com/css/css_grid.asp to
   get it so that my nav bar extends to the bottom of the wrapper.
*/
#wrapper
{
    background-color: white;
    width: 80%;
    min-width: 600px;
    margin: auto;

    display: grid;
	grid-template-areas:
    'header header'
    'menu main'
    'menu footer';
}

#content
{
    grid-area: main;
    padding-left: 20px;
}

#content ul
{
   text-indent: 10px;
   list-style-position: inside;

}

#content li {
    list-style-image: url(../images/marker.gif);
}

.resort
{
    color: #3399cc;
    font-weight: bold;
}
