
/* Home page biography section */
#main1
{
    box-sizing: border-box;
    text-align: center;
    width: 50%;
}

/* Home page Fall 2020 Classes information */
#main2
{
    text-align: center;
    width: 50%;
    margin: auto;
    max-width: 500px;
}

/* Home page "second column." List of classes */
#classList
{

    text-align: center;
    width: 50%;
    padding-top: 0px;
    width: 400px;
}

body {
    background-color: #eaeaea;
}

#indexNav
{
    margin: 1em;
    margin-top: .5em;
    padding: 1em;
    border-bottom: double grey;
    border-top: double grey;
}

#indexNav a, .dropdown, .dropdown2
{
    padding-left: 20px;
    padding-right: 20px;

}

/* Home page sub headers for the main information on the page.
The headers are the "Biography" and "Fall 2020 Classes" texts. */
b.intro
{
    font-size: 20px;
    font-family: Georgia, Arial, sans-serif;
}

/* Spacing for the bullets on the Home page under "Fall 2020 Classes" */
li.uml-class
{
    list-style-type: disc;
    list-style-position: inside;
    padding-bottom: 10px;
    padding-left: 60px;
    float: left;
}

h1.myTitle
{
    position: relative;
    bottom: 160px;
    background: 0;
}


/* Home page header look and feel. Rounded borders, text properties, image ref */
.HomeHeader
{
    background-image: url(../images/skate-header.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 450px;
    font-size: 40px;
    padding-top: 35%;
}



.icon
{
    font-size: 20px;
    color: #5290e0;
}
