
/*================================================================================================================================================*/

/* Inizilization of my pages. Sets the text style and the background image to give it that dark and texturized feel. */
body
{
    color: antiquewhite;
    font-family: georgia, Arial, sans-serif;
    margin: 2em;
    background-image: url(../images/slate.jpg);
    background-size: auto;
    background-repeat: repeat;
}

/* Spacing and color should the image not load */
main
{
    padding-left: 5em;
    padding-right: 5em;
    height: auto;
    background-color: #171717;
}

/* Copyright look and feel */
footer
{
    font-size: .6em;
    font-style: italic;
    padding: 1em;
    background-color: #171717;
    text-align: center;
    min-width:100%;
    max-width: 100%;
    clear: both;
}

/* Look, feel, and behavior of my links */
nav a:visited { color: cornflowerblue; }
nav a:hover { color: #CC9933; }
footer a:link { color: cornflowerblue; }
footer a:hover { color: #CC9933; }


/*================================================================================================================================================*/

/* Style of my front page header */
h1
{
    padding-top: 2em;
    margin-bottom: auto;
    background-color: #171717;
    text-align: center;
    color: ghostwhite;
    font-size: 30px;
    font-family: Georgia, Arial, sans-serif;
}

/* Navigation bar properties */
nav
{
    color: antiquewhite;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;


    /*background-color: rgba(20, 20, 20, .2);*/
}

/*================================================================================================================================================*/

/* Removing the underline for all of my links */
a
{
    text-decoration: none;
    color: cadetblue;
}

li
{
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
}

/* Everything uses border-box, and most use display: block */
header, nav, main, footer, #main1, #main2, #classList { display: block; }
* { box-sizing: border-box; }


/*================================================================================================================================================*/



/* ====================[ IDs ]==================== */




/* INIT */
#wrapper
{
    width: 80%;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 10px 10px 10px black;
    margin-right: auto;
    margin-left: auto;
    background-color: #171717;
}

/* Navigation location and text properties */
#navi
{
    padding-right: 25px;
    padding-top: 20px;
    margin: 20px;
    font-weight: bold;
    font-size: 1.5em;
    text-align: left;
    float: left;
    width: auto;
    position: fixed;
    border-top: double gray;
    border-bottom: double gray;
}

/* ====================[ CLASSES ]==================== */



/* Initial navigation link color */
a.navColor
{
    color: antiquewhite;
}

/* the color of the links under the Assignments dropdown */
a.dropdownColor
{
    color: black;
}

.floatleft
{
    float: left;
    padding: 2em;

}

.floatright
{
    float: right;
    padding: 2em;
}

/* Indent text if I want that paragraph look and feel. */
.indent
{
    text-indent: 50px;
    text-align: left;
    padding-bottom: 10px;
}


/* Dropdown Button */
.dropbtn {
    background-color: #303030;
    color: white;
    padding: 16px;
    font-size: 16px;
    font-family: georgia;
    border: none;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 5px 5px 5px black;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: gray;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown2
{
    position: relative;
    display: inline-block;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 300px;
    box-shadow: 10px 10px 10px black;
    z-index: 1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/*================================================================================================================================================*/


/*
- Media min and max width information.
- Attempting to accomodate my website for different sized screens, including mobile.
- For mobile, while my website isn't really optimized to scale down to a small screen, I
was able to figure out that <meta name="viewport" content="width=1000"> makes it so that
my website is displayed zoomed out to present the whole page when it's visited, as opposed
to being zoomed in at an arbitrary location on my page. This subtle change makes for a
much more intuitive and pleasant experience for the user, albeit not perfect.
*/

@media only screen and (min-width: 1500px)
{

    #HomeHeader
    {
        background-image: url(../images/skate-header.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
        height: 550px;
    }

}

@media only screen and (max-width: 1024px)
{
    p.info
    {
        float: right;
        width: 35%;
    }

    p.info2
    {
        padding-top: 40px;
        padding-left: 40px;
        float: right;
        width: 35%;
    }

}


@media only screen and (max-width: 1000px)
{
    #classList
    {
        box-sizing: border-box;
        text-align: center;
        padding-top: 0px;
        padding-left: 50px;
        width: 400px;
    }
}


@media only screen and (max-width: 768px)
{
    p.info
    {
        float: right;
        width: 35%;
    }

    p.info2
    {
        padding-top: 40px;
        padding-left: 40px;
        float: right;
        width: 35%;
    }

}
