
/* NOTES =================================================================

Website theme color: #34527d
Website theme alt color: #44628d
Light gray web page font color: #717171
*/


/* STYLE ================================================================= */

.center, .center2 {
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-bottom: -20px !important;
    width: 160px;
    height: 134px;
}

.center2 {
    width: 75%;
    padding-top: 300px;
    padding-bottom: 500px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-color: #f3f5f9;
}

.header {
    font-size: 30px;
    font-weight: bold;
    color: #34527d !important;
    text-align: center;
}

.wrapper{
    display: flex;
    position: relative;
}

.main_content  {
    margin-left: 200px !important;
}


.wrapper .main_content{
    width: 100%;
    margin-left: 100px;
}

.wrapper .main_content .header{
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
    margin: 20px;
    color: #515151;        /* text color. #717171 */
    line-height: 25px;
    font-size: 15px;       /* Originally 14px */
}

.wrapper .main_content .info div{
    margin-bottom: 20px;
}

.padding {padding: 25px;}

.spacing { margin-bottom: 120px !important; }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
    margin-left: 0px;
}

/* SCROLL BAR ================================================================= */

* {
    scrollbar-width: thin;
    scrollbar-color: blue orange;
}

*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-track {
    background: white;
}
*::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 20px;
    border: 3px solid white;

}

/* MEDIA QUERIES ================================================================= */


@media (max-width: 1200px) {
    .videoWrapper {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .toggle_button a {
        padding: 30px;
    }
    .fa-angle-double-left {
        position: relative;
        top: -15px;
    }

    #navList .fas {
        font-size: 20px;
        margin-right: 20px;
    }

    #taskListHeader {
        width: 150px;
        height: 150px;
        margin-left: 25px;
    }
}

@media (max-width: 1000px) {

}
